#{extends 'cms/cms.html' /}

<table class="table" cellspacing="5">
	<tr>
		<td width="7%">Active    </td>
		<td>URL       </td>
		<td width="25%">Title     </td>
		<td>Preview     </td>
		<td>Content     </td>
	</tr>
#{list items:pages, as:'page' }
	<tr>
        <td>${page.active}</td>
        <td><a href="@{cms.Admin.editPage(null, page.name)}">${page.name}</a></td>
		<td>${page.title}</td>
		<td><a href="@{cms.Frontend.show(null, page.name)}" >preview</a></td>
		<td>${page.getBodyPreview().raw()}</td>
	</tr>
#{/list}
</table>

<a href="@{cms.Admin.addPage()}">New Page</a><br/>

${pages.size()} Pages found.
